.page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.container {
    margin-top: 15px;
}
.container h1 {
    text-align: center;
    margin: 0 !important;
}
.tablesDiv {
    margin: 0 2rem ;
}
.table thead tr th {
    background-color: #e4f6ed!important;
}