html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="text"], input[type="password"], select {
  display: block;
  height: 60px;
  background-color:whitesmoke;
  border: none;
  padding-left: 0.5rem;
  margin: 1rem 0;
}

.button {
  background-color: red;
  color: white;
  border:none;
  padding: 0.5rem;
}

.navbar {
  height: 50px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
}

.footer {
  background-color: black;
  color: white;
  padding: 0.5rem 5%;
}

.footer p {
  text-align: center;
}

@media screen and (max-width: 426px) {

  .navbar {
    grid-template-columns: 40% 30% 30%;
  }

  input[type="text"], input[type="password"], select {
    width: 100%;
  }

}